.booking-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 500px;
  padding-bottom: 50px;
  border-radius: 50px;
  border: 3px solid #24E5AB;
  opacity: 0.8;
  background: url('https://i.imgur.com/IMxGuoe.jpg') center;
  background-size: 100%;
  margin: 0 auto;
  margin-top: 95px;
}
  
.booking-parent {
  background-color: aqua;
  max-width: 700px;
  height: 800px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background: url('https://i.imgur.com/IMxGuoe.jpg') center;
  background-size: contain;
  background-repeat: no-repeat;
  background: rgb(175,113,222);
  background: linear-gradient(0deg, rgba(175,113,222,1) 8%, rgba(45,178,253,1) 100%);
  margin: 0 auto;
  margin-top: 40px;
  
}



.field {
  margin-bottom: 18px;
  justify-self: center;
  color: white;
}

form {
  height: 250px;
}

label {
  font-weight: 500;
}

.checkbox {
  input {
    margin-left: 10px;
  }
}

input {
  border: 2px solid #24E5AB;
  border-radius: 5px;
}

.btn-primary {
  margin-left: 40px;
}



