.github {
  margin-right: 5px;
  text-decoration: none;
  color: #E2F4E6;
  margin-bottom: 5px;
}

.nav-footer {
  display:flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 30px;
  margin-top: 30px;
  
  position: fixed;
  bottom: 0%;
  right: 0%;
  width: 100%;
  color: #E2F4E6;
  background-color: black;
}
#neil, #jomari {
  margin-left: 6px;
}

