.github {
  margin-right: 4px;
  text-decoration: none;
  color: #0B7A75;
}

.nav-footer {
  display:flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 30px;
  margin-bottom: 10px;
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 100%;
  color: #0B7A75;
}
#neil, #jomari {
  margin-left: 5px;
}

