.mt-4 {
  color: #A9B3CE;
  text-align: center;
  margin-top: 20px;

}

.wrapper {
  background-color: #111D4A;
  padding: 30px 40px;
  border-radius: 20px;
  border: 2px solid #A9B3CE;
  margin-top: 30px;
}
.form-page {
  margin-top: 50px;
}

.button {
  background-color: #A9B3CE;
}