.nav-style {
  display: grid;
  grid-template-columns: 12fr 2fr 2fr 2fr 2fr;
  align-items: end;
  width: 90%;
  margin-top: 8px;
}

.btn-nav {
  margin-right: 25px;
  width: 120px;
  padding-top: 10px;
  color: #E2F4E6;
}

.btn-logo{
  margin-left: 25px;
  color: white;
}

.nav-offers {
  // margin-left: 10px;
  margin-right: -80px;
}


