
.image {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.card-and-pics {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 50px;
}
.planet-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 30px;
}