
.image {
  width: 160px;
  height: 160px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #E2F4E6;
}
.planet-details {
  background-color: #111D4A;
  margin: 20px;
  padding: 20px;
  min-width: 300px;
  max-width: 500px;
  border-radius: 20px;
}
.card-and-pics {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #E2F4E6;
}
.planet-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 100px;
  margin-bottom: 150px;
}


.review-box {
  border: 2px solid #80D39B;
  border-radius: 5px;
  width: 500px;
  padding: 20px;
  margin: 20px 0px;
}

.info {
  color: #80D39B;
}

.spotlight-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.85);
  z-index: 1;
}

.spotlight-image {
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 2px solid #E2F4E6;
  margin-bottom: 30px;
  border-radius: 40px;
}

.btn-book {
  border: 2px solid #E2F4E6;
  color: #111D4A;
  background-color: #80D39B;
  height: 40px;
  width: 140px;
}

.review-btn {
  margin-top: 20px;
  margin-bottom: 40px;
  border: 2px solid #E2F4E6;
  color: #111D4A;
  background-color: #80D39B;
  border-radius: 3px;
  height: 40px;
  width: 140px;
  margin-left: 10px;
}

.planet-reviews {
  color: #E2F4E6;
  margin-bottom: 60px;
  margin-left: 5px;
  padding: 20px;
  // border-radius: 30px;
  // background-color: #111D4A;
}

.review-box {
  background-color: #5C80BC;
  // margin-left: 5px;
}

.user {
  color: #80D39B;
}

.review-text {
  color: #E2F4E6;
}

.rating {
  float: right;
  color: #80D39B;
}

.Earth {
  width: 350px;
}

hr {
  color: #80D39B;
  border: 1px solid #80D39B;
  opacity: 0.5
}



