
*{
  box-sizing: border-box;
}

.profile-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 300px;
  margin-bottom: 60px;
}

.profile-card {
  color: #A9B3CE;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #111D4A;
  padding: 30px 40px;
  margin-top: 20px;
  border-radius: 20px;
  border: 2px solid #A9B3CE;
  margin-top: 20px;
}
.singleReview{
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 30px;
  background-color: white;
  padding: 20px 10px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #A9B3CE;
  margin-top: 5px;
  color: #A9B3CE;
}
.singleWishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  max-width: 300px;
  background-color: white;
  padding: 20px 10px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #A9B3CE;
  margin-top: 5px;
  color: #A9B3CE;
}
.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: #111D4A;
  padding: 30px 40px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #A9B3CE;
  margin-top: 20px;
  color: #A9B3CE;
}

.wishList-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: solid 5px black;
  height: 100%;
  width: 100%;
  background-color: #111D4A;
  padding: 30px 40px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #A9B3CE;
  margin-top: 20px;
  color: #A9B3CE;
}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid grey 5px;
  height: 100%;
}

.profile-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile-name {
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: solid grey 5px;
  height: 100%;
}

.profile-email {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid grey 5px;
  height: 100%;
}