.mt-4 {
  color: #E2F4E6;
  text-align: center;
  margin-top: 20px;

}

.wrapper {
  background-color: #111D4A;
  padding: 30px 40px;
  margin-top: 20px;
  border-radius: 20px;
  border: 2px solid #E2F4E6;
  margin-top: 20px;
  width: 500px;
  margin: 0 auto;
}
.form-page {
  margin-top: 50px;
}

.button {
  background-color: #E2F4E6;
}
